<h1>DASHBOARD</h1>
<!-- Display the message if available -->
<div class="messageClass <%= messageClass %>">
    <% if (message) { %>
        <p><%= message %> <%= data.username %></p>
        <span class="close" onclick="this.parentElement.style.display='none'">&times;</span>
    <%  } %>
        
</div>

<div class="admin-title">
    <h2>
        Posts
    </h2>
    <a href="/add-post" class="btn">+ Add New</a>
</div>


<ul class="admin-posts">
    <% posts.forEach(post => { %>
     <li>
        <a href="/post/<%= post._id %>">
        <%= post.title %> &nearr;
        </a>
        <div class="admin-post-controls">
            <a href="/edit-post/<%= post._id %>?_method=PUT" class="btn">EDIT</a>

            <!-- <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" class="btn-delete btn">
            </form> -->
                <a href="/delete-post/confirmation/<%= post._id %>"><input type="submit" value="DELETE" class="btn-delete btn"></a>
        </div>
     </li>
    <% }) %>
</ul>

<% if (nextPage !== null) { %>
    <a href="/dashboard/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
<% } %>

<% if (nextPage === null || current > 1) { %>
    <a href="/dashboard/?page=<%= parseInt(prevPage, 10) %>" class="pagination">&lt; View Newer Posts</a>
<% } %>
