<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>
        Edit Post
    </h2>
</div>
<!-- Display the message if available -->
<div class="messageClass <%= messageClass %>">
    <% if (message) { %>
        <p><%= message %></p>
        <span class="close" onclick="this.parentElement.style.display='none'">&times;</span>
    <%  } %>
        
</div>

<form action="/edit-post/<%= post._id %>" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" value="<%= titleValue ?? '' %>">

    <label for="category"><b>Category</b></label>
    <input type="text" placeholder="Category" name="category" value="<%= categoryValue ?? '' %>">

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="100" rows="15" placeholder="Body of Content" ><%= bodyValue ?? '' %></textarea>

    <input type="submit" value="Update" class="btn">
</form>
