<div class="author">
    <h1 class="author_heading">
        Hi, I am Johnson
    </h1>
    <p class="author_body">
        Software Engineer
    </p>
</div>

<img src="/img/kung-lao.gif" alt="img" class="author_img" width="500" height="428">

<section class="article">
    <h2 class="article_heading">latest Posts</h2>
<!-- function to convert cached string date to javascript Date object -->
<% function formatDate(dateString) { %>
  <% const date = new Date(dateString); %>
  <% return date.toDateString(); %>
<% } %>


    <ul class="article_list">
        <% data.forEach(post => { %>
         
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span><%= post.category %></span>
                <span class="article_list_date"><%= formatDate(post.createdAt) %></span>
            </a>
        </li>

        <% }) %>
    </ul>
  

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

    <% if (nextPage === null || current > 1) { %>
        <a href="/?page=<%= parseInt(prevPage, 10) %>" class="pagination">&lt; View Newer Posts</a>
    <% } %>

</section>
