<button><a href="/dashboard/" class="btn">Back</a></button>

<h1><%= data.title %></h1>
<article><%= data.body %></article>

<h2>Comments</h2>
<ul>
    <% comments.forEach(comment => { %>
        <li>
            <strong><%= comment.author %>:</strong> <%= comment.content %>
        </li>
        <a href="/post/<%= data._id %>/comment/<%= comment._id %>">Reply</a>
    <% }) %>
</ul>

<h3>Add a comment</h3>
<form action="/post/<%= data._id %>/comment" method="POST">

    <label for="author">Your name</label>
    <input type="text" name="author" placeholder="Enter your name" value="<%= authorValue ?? '' %>">

    <label for="content">Comment</label>
    <input type="text" name="content" placeholder="What do you think?" value="<%= commentValue ?? '' %>">

    <input type="submit" value="comment">

</form>

